* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #242424;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 420px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerWrapper {
  height: 100%;
  width: 100%;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  border-radius: 15px;
}

/* Top */

.top {
  height: 60%;
  width: 100%;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reward {
  display: none;
}

.frame {
  height: 100%;
  width: 100%;
  background-color: #242424;
  border-bottom-right-radius: 15px;
  border: 2px solid #121212;
}

.panel {
  position: absolute;
  top: 0;
  color: antiquewhite;
  transition: all 0.5s ease-in-out;
}

.panel--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #454545;
}

.panel--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.monsterBlock {
  height: 100%;
  width: 100%;
}

.monsterName {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}

.enemyHPBar {
  height: 10%;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: flex-end; */
  position: relative;
}

.fillEnemy {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #68e831;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.monsterAttack {
  height: 5%;
  width: 100%;
  background-color: chocolate;
}

.flash {
  box-shadow: inset 10px 10px 50px 50px rgba(56, 56, 56, 1);
}

.panel--3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #454545;
}

.inventory {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.weaponCard {
  width: 30%;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

/* Middle */

.middle {
  height: 15%;
  width: 100%;
  background-color: #363636;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playerHPBar {
  width: 30%;
  aspect-ratio: 1/1;
  background-color: antiquewhite;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 3px solid #242424;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.fillPlayer {
  height: 100%;
  width: 100%;
  max-height: 100%;
  background-color: #68e831;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  /* border: 3px solid #242424; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.potionBox {
  width: 60%;
  aspect-ratio: 2/1;
  background-color: #363636;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid #242424;
  border-bottom: 3px solid #242424;
}

.food {
}
.potion {
}
.elixer {
}

.goldBox {
  width: 30%;
  aspect-ratio: 1/1;
  background-color: gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bottom */

.bottom {
  height: 25%;
  width: 100%;
  /* aspect-ratio: 1/0.5; */
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logBox {
  width: 48%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow-x: hidden;
  scrollbar-width: thin; */
}

.log {
  height: 100%;
  width: 98%;
  background-color: gray;
  border: 3px solid #242424;
  border-radius: 15px;
  padding: 5px;
  overflow: hidden;
  /* scrollbar-width: thin; */
}

.buttonBox {
  width: 48%;
  height: 100%;
  /* aspect-ratio: 1/1; */
  background-color: #363636;
  /* background-color: pink; */
  position: relative;
}

.upgrade {
  position: absolute;
  left: calc(50% - 15%);
  top: 13%;
}

.attack {
  position: absolute;
  top: calc(50% - 10%);
}

.home {
  position: absolute;
  top: calc(50% - 10%);
  left: calc(50% - 15%);
}

.weaponSelect {
  position: absolute;
  top: calc(50% - 10%);
  right: 0px;
}

.btn {
  width: 30%;
  aspect-ratio: 1/1;
  background-color: #646464;
  border: 2px solid #242424;
  border-radius: 25%;
  box-shadow: 1px 1px#242424;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  /* font-size: small; */
  font-size: calc(10px + 0.390625vw);
}

.absolute {
  position: absolute;
  top: 40%;
}
